:root {
  --basic: #3b4256;
  --grey2: #6f7482;
  --grey3: #b8bcca;
}
.container {
  height: fit-content;
  width: 1024px;
  /* max-width: 1024px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0 auto; */
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--basic);
}
.href-to-main:hover {
  cursor: pointer;
  text-decoration: underline;
}
.href-to-main {
  margin: 24px 0;
  display: block;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}
h3 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
}
table,
th,
td {
  border: 1px dashed #7b61ff;
  padding: 16px;
}
.contact-inf {
  margin-bottom: 32px;
  font-weight: 500;
}
legend {
  font-size: 24px;
}
.contact-form {
  margin-bottom: 32px;
}
.required {
  padding-left: 2px;
  color: red;
}

fieldset {
  border: 1px dashed #7b61ff;
  border-radius: 5px;
  padding: 16px;
}
label,
input,
textarea,
select {
  display: block;
  width: 100%;
}
label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  /* or 23px */
  letter-spacing: 0.01em;
  /* Text / Secondary - Grey2 */
  color: var(--grey2);
  margin-bottom: 2px;
}
::placeholder {
  color: var(--grey3);
}
#email,
textarea,
select {
  background-color: #f8fafc;
  border-radius: 4px;
  padding: 12px;
  color: var(--basic);
}
input {
  height: 48px;
}
textarea {
  min-height: 139px;
  overflow-wrap: break-word;
}
select {
  background: url('../images/mdi_arrow_drop_down.svg') no-repeat center right
      12px,
    #f8fafc;
}

input[type='submit'] {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 144%;
  text-align: center;
  width: 97px;
  height: 32px;
  background: #0048d9;
  color: #ffffff;
  border-radius: 6px;
  padding: 0;
}

input[type='submit']:hover {
  background: #002266;
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus {
  outline: 1px solid #0048d9;
  border-radius: 4px;
}
input[type='email']:required:invalid:focus {
  outline: 1px solid red;
}
input[type='email']:required:invalid:focus ~ .error {
  display: block;
}
input[type='email']:required:valid ~ .success {
  display: block;
}
.error {
  margin-top: 2px;
  position: absolute;
  display: none;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  /* System/Red */
  color: #ed0131;
}
.success {
  margin-top: 2px;
  position: absolute;
  display: none;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  /* System/Red */
  color: #0e6245;
}
