body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  border-top: solid 6px black;
  width: 900px;
  margin: auto;
}
h1 {
  font-style: italic;
}
.work-position {
  font-weight: bold;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
th {
  text-transform: uppercase;
  vertical-align: top;
}
a {
  color: #00f;
}
a:visited {
  color: #005;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: square;
}
